<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>title</key>
			<string>ImplicitAnimation</string>
			<key>desc</key>
			<string>啦啦啦</string>
			<key>identifier</key>
			<string>LHMImplicitAnimationViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>DisplayAnimation</string>
			<key>desc</key>
			<string>啦啦啦</string>
			<key>identifier</key>
			<string>LHMDisplayAnimationViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>CATransition</string>
			<key>desc</key>
			<string>啦啦啦</string>
			<key>identifier</key>
			<string>LHMCATransitionViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>CAMediaTiming</string>
			<key>desc</key>
			<string>啦啦啦</string>
			<key>identifier</key>
			<string>LHMCAMediaTimingViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TimingFunction</string>
			<key>desc</key>
			<string>啦啦啦</string>
			<key>identifier</key>
			<string>LHMTimingFunctionViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>DurationAnimation</string>
			<key>desc</key>
			<string>啦啦啦</string>
			<key>identifier</key>
			<string>LHMDurationAnimationViewController</string>
		</dict>
	</array>
</dict>
</plist>
