<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>title</key>
			<string>CAGradientLayer</string>
			<key>desc</key>
			<string>啦啦啦</string>
			<key>identifier</key>
			<string>LHMCAGradientLayerViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>CATransformLayer</string>
			<key>desc</key>
			<string>啦啦啦2</string>
			<key>identifier</key>
			<string>LHMCATransformLayerViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>CAReplicatiorLaye</string>
			<key>desc</key>
			<string>啦啦啦3</string>
			<key>identifier</key>
			<string>LHMCAReplicatiorLayerViewController</string>
		</dict>
	</array>
</dict>
</plist>
